@using Lykke.Ico.Core.Queues.Emails;
@using RazorLight
@inherits TemplatePage<InvestorKycReminderMessage>
@{
    Layout = "investor-layout";
}
<!-- main section -->
<!-- title -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:2px; line-height:48px;">
        KYC Reminder
    </td>
</tr>
<!-- end title -->
<!-- hr -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table width="25" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="2" style="border-bottom:2px solid #c16c83;"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- end hr -->
<!-- main content -->
<tr>
    <td align="center" style="padding:0px 35px 15px; font-size:16px; color:#7f8c8d; line-height:24px;">
        We require every participant to complete a full Know Your Customer (KYC) process.
        Our records show that your KYC is pending.
        If you have already scheduled a video call, please disregard this message.
    </td>
</tr>
<tr>
    <td align="center" style="padding:20px 35px 15px; font-size:16px; color:#7f8c8d; line-height:24px;">
        For more information please refer to our dedicated <a href="https://blog.valid.global/token-sale-essentials-kyc-ce3fd559dc66">KYC blog post</a>.
    </td>
</tr>
<tr>
    <td align="center" style="padding:20px 35px 15px; font-size:16px; color:#7f8c8d; line-height:24px;">
        Please start the process at your earliest convenience via the button below.
    </td>
</tr>
<!-- end main content -->
<!-- button -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table align="center" bgcolor="#c16c83" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px; box-shadow:0px;">
            <tr>
                <td height="55" width="196" align="center" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding-left:25px; padding-right:25px;">
                    <a href="@Model.LinkToSummaryPage" style="color:#FFFFFF; text-decoration:none;">My Dashboard</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- end button -->
<!-- end main section -->