@using Lykke.Ico.Core.Queues.Emails;
@using RazorLight
@inherits TemplatePage<InvestorNewTransactionMessage>
@{
    Layout = "investor-layout";
}
<!-- title -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:2px; line-height:48px;">
        Payment Confirmation
    </td>
</tr>
<!-- end title -->
<!-- hr -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table width="25" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="2" style="border-bottom:2px solid #c16c83;"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- end hr -->
<!-- content -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#7f8c8d; line-height:24px;">
        We successfully received your payment of @Model.Payment USD.
    </td>
</tr>
<!-- end content -->

@if (!string.IsNullOrWhiteSpace(Model.TransactionLink))
{
    <!-- button -->
    <tr>
        <td align="center" style="padding:0px 35px 35px;">
            <table align="center" bgcolor="#c16c83" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px; box-shadow:0px;">
                <tr>
                    <td height="55" width="196" align="center" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding-left:25px; padding-right:25px;">
                        <a href="@Model.TransactionLink" style="color:#FFFFFF; text-decoration:none;">Track Transaction</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- end button -->
}

@if (Model.KycRequired)
{
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            KYC Required
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 15px; font-size:16px; color:#808E8E;line-height:28px;">
            Click the button below to start the KYC process.
        </td>
    </tr>
    <!-- end content -->
    <!-- button -->
    <tr>
        <td align="center" style="padding:0px 35px 35px;">
            <table align="center" bgcolor="#c16c83" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px; box-shadow:0px;">
                <tr>
                    <td height="55" width="196" align="center" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding-left:25px; padding-right:25px;">
                        <a href="@Model.KycLink" style="color:#FFFFFF; text-decoration:none;">Start KYC</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- end button -->
}

@if (Model.MoreInvestmentRequired)
{
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            Insufficient Participation Amount
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 15px; font-size:16px; color:#808E8E;line-height:28px;">
            The minimum total amount to participate is $@Model.MinAmount USD.
            The amount you paid so far is $@Model.InvestedAmount USD.
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
            Please participate with a higher amount or we will be forced to refund you.
        </td>
    </tr>
    <!-- end content -->
}