@using Lykke.Ico.Core.Queues.Emails;
@using RazorLight
@inherits TemplatePage<InvestorReferralCodeMessage>
@{
    Layout = "investor-layout";
}
<!-- main section -->
<!-- title -->
<tr>
    <td align="center" style="padding:0px 35px 25px; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:2px; line-height:48px;">
        Invite a Friend
    </td>
</tr>
<!-- end title -->
<!-- hr -->
<tr>
    <td align="center" style="padding:0px 35px 25px;">
        <table width="25" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="2" style="border-bottom:2px solid #c16c83;"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- end hr -->
<!-- main content -->
<tr>
    <td align="left" style="padding:0px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        Dear VALID Advocate,
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        Thank you for your support and trust in VALID! We appreciate your
        participation in our token sale and your patience with completing KYC.
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        The strong community we have built over the last months makes us very
        proud and is essential to carry the vision of VALID forward. We believe
        that you, the token holders and community members, know best who should
        join our mission. Therefore, we would like to give you the opportunity
        to invite supporters to the project and give them the opportunity to
        benefit from the 15% discount period even after it ends today at 12
        UTC.
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        Here is how it works: invite your friends and provide them with your
        personal coupon code, giving them a 15% discount. If they decide to use
        it, the same discount will show up on your dashboard as well and you
        will also be able purchase more VALID tokens at a 15% discount if you
        so choose.*
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 20px; font-size:18px; color:#3b3b3b; line-height:24px;">
        Your personal coupon code is: <b>@Model.ReferralCode</b>
    </td>
</tr>
<!-- button -->
<tr>
    <td align="center" style="padding:0px 35px 15px;">
        <table align="center" bgcolor="#c16c83" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px; box-shadow:0px;">
            <tr>
                <td height="55" width="196" align="center" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding-left:25px; padding-right:25px;">
                    <a href="@Model.LinkToSummaryPage" style="color:#FFFFFF; text-decoration:none;">My Dashboard</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- end button -->
<tr>
    <td align="left" style="padding:10px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        You might also be interested in our newest <a href="https://blog.valid.global/token-sale-essentials-soft-cap-hard-cap-strategy-and-values-7e4b3116c09d">blog post</a>
        where we give insights into our Soft Cap, Hard Cap, Strategy and
        Values. It should answer the questions from the community regarding the
        future roadmap of VALID depending on different funding scenarios.
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        If you have any questions or feedback to the VALID team, don't hesitate
        to reach out to us via <a href="https://t.me/valid_global">Telegram</a>
        or <a href="mailto:info@valid.global">Email</a>.
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        Thank you again for your support. Talk soon!
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 10px; font-size:18px; color:#3b3b3b; line-height:24px;">
        Your VALID Team
    </td>
</tr>
<tr>
    <td align="left" style="padding:10px 25px 25px; font-size:18px; color:#3b3b3b; line-height:24px;">
        *Please be aware that we don’t accept spamming. If spamming with your
        discount is reported to us, it will be revoked immediately
    </td>
</tr>
<!-- end main content -->
<!-- end main section -->
