@using Lykke.Ico.Core.Queues.Emails;
@using RazorLight
@inherits TemplatePage<InvestorConfirmationMessage>
@{
    Layout = "investor-layout";
}
<!-- title -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:2px; line-height:48px;">
        You are only a few clicks away from the VALID token sale!
    </td>
</tr>
<!-- end title -->
<!-- hr -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table width="25" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="2" style="border-bottom:2px solid #c16c83;"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- end hr -->
<!-- content -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#7f8c8d; line-height:24px;">
        Click the button below to start the process.
    </td>
</tr>
<!-- end content -->
<!-- button -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table align="center" bgcolor="#c16c83" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px; box-shadow:0px;">
            <tr>
                <td height="55" width="196" align="center" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding-left:25px; padding-right:25px;">
                    <a href="@Model.ConfirmationLink" style="color:#FFFFFF; text-decoration:none;">Confirm E-Mail Address</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- end button -->
